<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>KoreanERIN-M.ttf</string>
		<string>Splatoon1.otf</string>
		<string>DFPZongYiW7-GB.ttf</string>
		<string>DFHuaZong-W5-WINP-BF.ttf</string>
		<string>KurokaneStd-EB.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
